<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/users/">
      <input name="name" type="text" placeholder="name" />
      <input name="username" type="text" placeholder="username" />
      <input name="email" type="email" placeholder="email" />
      <input name="city" type="text" placeholder="city" />
      <input name="state" type="text" placeholder="state" />
      <input name="country" type="text" placeholder="country" />
      <input name="pin" type="number" placeholder="pin" />
      <input type="submit" value="submit" />
    </form>
    <form method="POST" action="/articles/">
      <input name="title" type="text" placeholder="title" />
      <input name="description" type="text" placeholder="description" />
      <input name="tags" type="text" placeholder="tags" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
